<a href="https://colab.research.google.com/github/solomon-williams/LetsUpgrade-AI-ML/blob/master/Day3Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Program to subtract two complex numbers in Python.**

In [64]:
# Input Complex Numbers
complex1 = input('Enter first number : ')
complex2 = input('Enter second number : ')
 
 # Subtraction of complex Numbers
sub = complex(complex1) - complex(complex2)
 
print('The subtraction of {0} and {1} is: {2}'.format(complex1, complex2, sub))

Enter first number : 2-7j
Enter second number : 4-7j
The subtraction of 2-7j and 4-7j is: (-2+0j)

**Program to find the fourth root of a number.**

In [65]:
# Input Value
root = int(input("Enter a number : "))

# Operating var_root to 4th root exponent
value = root**0.25

print("4th root of the number is : " , value)

Enter a number : 56
4th root of the number is :  2.7355647997347607

**Program to swap two numbers in Python with the help of a temporary variable.**

In [66]:
# To take inputs from the user
x = int(input("x = "))
y = int(input("y = "))

# create a temporary variable and swap the values
temp = x
x = y
y = temp

print('The value of x after swapping: ', x)
print('The value of y after swapping: ', y)

x = 3
y = 4
The value of x after swapping:  4
The value of y after swapping:  3

**Program to swap two numbers in Python without using a temporary variable.**

In [67]:
# To take inputs from the user
x = int(input("x = "))
y = int(input("y = "))

# Operation to swap variables
x, y = y, x

print('The value of x after swapping: ', x)
print('The value of y after swapping: ', y)

x = 8
y = 4
The value of x after swapping:  4
The value of y after swapping:  8

**Program to convert Fahrenheit to kelvin and celsius.**

In [68]:
# Input temp in Farenheit
farenheit = int(input("Enter Value : "))

# temp in Celsius 
celsius = (farenheit - 32)*(5/9)
print("Celsius :",celsius)

# temp in kelvin
kelvin  = (farenheit - 32)*(5/9) + 273.15
print("Kelvin :" , kelvin)

Enter Value : 32
Celsius : 0.0
Kelvin : 273.15

**To demonstrate all the available data types in Python.**

In [69]:
# To demonstrate all data types

# Numeric Type
int ()
float () 
complex ()
# Examples
print(type (3))
print(type (3.14))
print(type (2+24j))

# Sequence Type
str ()
list ()
tuple ()
# Examples
print(type ("String"))

X = ["Apple", "Ball", "Cat"]
print(type (X))

Y = ("Apple", "Ball", "Cat")
print(type (Y))

# Boolean Type
print(bool(1<2))

print(bool(1>2))

# Set Type
Set = {"Apple", "Ball", "Cat"}
print(type(Set))

# Dictonary Type 
Dict = {"Name" : "Solomon", "Age" : 18}
print(type (Dict))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'list'>
<class 'tuple'>
True
False
<class 'set'>
<class 'dict'>