<a href="https://colab.research.google.com/github/solomon-williams/LetsUpgrade-AI-ML/blob/master/Day6Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Assuming that we have some email addresses in the "username@companyname.com" format, please write a program to print the company name of a given email address. Both user names and company names are composed of letters only.**

In [71]:
# Input Email
email = input()

# Split everything after "@"
companyname = email.split('@')[1] 

# Split everything before ".com"
x = companyname.split('.com')[0]

print(x)

solomon@google.com
google

**Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma-separated sequence after sorting them alphabetically.**

In [73]:
# Split the entered words at ','
items=[x for x in input("Enter words to sort : ").split(',')]

# Sort alphabetically using sort function
items.sort()

# Print the sorted words
print ("The sorted words are : " , ','.join(items))

Enter words to sort : Cat,Fetch,Phone,Apple,Ball
The sorted words are :  Apple,Ball,Cat,Fetch,Phone

**Create your own Jupyter Notebook for Sets.**

#**Sets in Python :**

##A Set is basically a Data Structure consisting of ,


*   Unordered Elements

*   Unique Elements
*   Unindexed Elements

###We Can use two methods to create Sets, 



*   Using curly brackets { }
*   Using Set Constructor

*For example :*


```
a = {1,2.0,'Solomon'}
b = set([1,3.14,Python])
```

In [81]:
# We can use Sets in the following ways, 

elements = {1,3.14,'Solomon'} 

print(elements) # Print/Preview elements in Set
print('Solomon' in elements) #bool

elements.add('Python') # Add items
print(elements)

elements.update([69,"Machine Learning"]) # Adds Multiple items
print(elements)

print(len(elements)) # Length of the Set

elements.remove(69) # Removes items
print(elements)

x = elements.pop() # Removes the last item
print(x)
print(elements)

elements.clear() # Empties the Set
print(elements)

# New Sets
set1 = {34,4.9,"AI"}
set2 = {68,2.7,"ML"}

set3 = set1.union(set2) # Union of two Sets
print(set3)

set1.update(set2) # Inserts items form one set to another
print(set1)

# Set Constructor

abc = set(("Apple","Ball","Cat"))
print(abc)

{1, 3.14, 'Solomon'}
True
{'Python', 1, 3.14, 'Solomon'}
{'Python', 1, 3.14, 69, 'Solomon', 'Machine Learning'}
6
{'Python', 1, 3.14, 'Solomon', 'Machine Learning'}
Python
{1, 3.14, 'Solomon', 'Machine Learning'}
set()
{34, 'ML', 4.9, 2.7, 68, 'AI'}
{34, 'ML', 4.9, 2.7, 68, 'AI'}
{'Cat', 'Apple', 'Ball'}

**Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.**

In [93]:
# Define the function to find the missing number upto an infinite range
def missing(List): 
    return [x for x in range(List[0], List[-1]+1)  
                               if x not in List]  # Checks if the number is present in the list
  
List = [1, 2, 4, 6, 9, 10] 
print(missing(List))

[3, 5, 7, 8]

**With a given list L, write a program to print this list L after removing all duplicate values with original order
reserved.**

In [92]:
list1 = [12,24,35,24]
print("Original List : ", list1)

list2 = []

for i in list1:
    if i not in list2:
        list2.append(i)

print("New List : ", list2)

Original List :  [12, 24, 35, 24]
New List :  [12, 24, 35]