<a href="https://colab.research.google.com/github/solomon-williams/LetsUpgrade-AI-ML/blob/master/Day8Assingment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1) Recreate “NB 21 map, filter, lambda.ipynb” to try different variations or perform different calculations from the ones that are in the NB**

---

# *Python Lambda Function :*

*   The lambda function is a small anonymous function which can take any number of 
arguments, but can only have one expression.

## Lambda Functions can be used as, 

*   One time use: They are used in places where we know that the function will be required just once. Therefore, lambda functions are also called as throw away functions

*  Input/Output to other functions: They are also passed as inputs or returned as outputs of other higher-order functions.


*   Reduce Code size: The body of lambda functions is written in a single line.


**Syntax :**

`lambda arguments : expression`

In [3]:
 # Program to find the 4th root of a number
 x = lambda a : pow(a , 0.25)
print(x(16))

2.0

In [4]:
# Program to add multiple numbers
x = lambda a, b, c : a + b + c
print(x(23,23,23))

69

In [7]:
# Program to double a given number
def func(n):
  return lambda a : a * n

doubler = func(2)

print(doubler(11))

22

# *Map, Filter and Reduce functions in python :*

The above functions are some of many predefined functions in python. These functions can take any other function as a parameter and can be supplied to other functions as parameters as well.

## *map ( ) :* 

It applies the given function to all iterables and returns a new list.

**Syntax :**

```
map(function,iterables)  
```

In [10]:
def func(a):
    return a*a
x = map(newfunc, (1,2,3,4))  #x is the map object
print(type(x))
print(list(x))

<class 'map'>
[1, 4, 9, 16]

In [12]:
def func(a, b):
    return a + b
 
a = map(func, [2, 4, 5], [1,2,3])
print(a)
print(list(a))

<map object at 0x7fdf56487400>
[3, 6, 8]

In [25]:
def sqr(a,b):
    return a*b
# your code goes here3
print(list(map(sqr, [1,2,3,4], [2,2,2,2] )))

[2, 4, 6, 8]

In [15]:
# Using Lambda in map()
a = (5, 7, 22, 97, 54, 62, 77, 23, 73, 61)
newtuple = tuple(map(lambda x: x+3 , a)) 
print(newtuple)

(8, 10, 25, 100, 57, 65, 80, 26, 76, 64)

## *filter ( ) :*

It is used to filter the given iterables with the help of another function passed as an argument to test all the elements to be True or False.

**Syntax :**



```
filter(function,iterables)
```

In [36]:
# Program to Filter Number greater than 5
def func(x):
    if x > 5:
        return x
y = filter(func, range(1,100, 5))  
print(y)
print(list(y))

<filter object at 0x7fdf4e7fa9e8>
[6, 11, 16, 21, 26, 31, 36, 41, 46, 51, 56, 61, 66, 71, 76, 81, 86, 91, 96]

In [33]:
# Program to Filter numbers less than 0 using Lambda
number_list = range(-5, 5)
less_than_zero = list(filter(lambda x: x < 0, number_list))

print(less_than_zero)

[-5, -4, -3, -2, -1]

In [40]:
years = [1980, 1988, 1990, 1992, 1993, 1998, 2002]
 
leapyear = list(filter(lambda x: (x%4 == 0) , years))
 
print("Leap Years :" ,leapyear)

Leap Years : [1980, 1988, 1992]

In [42]:
# Using filter within map 
x = map(lambda x: x+x,  filter(lambda x: x>=3., [1,2,3,4]))
print(x)
print(list(x))

<map object at 0x7fdf4e871400>
[6, 8]

## *reduce ( ) :*

It applies some other function to a list that are passed as a parameter to it and finally return a single value.

**Syntax :**

```
reduce(function, iterables)
```

In [43]:
from functools import reduce
 
def Sum(x1, x2): 
    return x1 + x2

print(reduce(Sum, [1, 2, 3, 4]))

10

In [45]:
from functools import reduce

product = reduce((lambda x, y: x * y), [1, 2, 3, 4])
print(product)

24

In [53]:
# Using map and filter within reduce
x = reduce(lambda x,y: x*y,  map(lambda x: x+x, filter(lambda x: x>=3, (1,2,3,4))))

print(x)

48

# **2) Recreate your own Python NB for “Classes and Objects” from the pdf provided namely “Classes&Objects.pdf”**

---

# *Classes and Objects in Python :*

* Class is a blue print of an object which defines the properties and behaviour of an object.
A class contains variables and methods.

**Syntax :**

```
class <class_name>
      # Class Variables/Data members

      # Class constructor method 
      def __init__():
      # Class Method/Instance Method
```

In [69]:
# Creating a Simple Class
class Student:
    roll = 69
    name = "Solomon"
    age = 18

In [68]:
# Creating Class Object
class Student:
    roll = 69
    name = "Solomon"
    age = 18
 
 
s = Student()
print(s.roll,s.name,s.age)
print(type(s))

69 Solomon 18
<class '__main__.Student'>

##*Self Attributes :*

* This is the first parameter in any function/method defined inside a class. 

* It is used as a reference to the current instance of a class.

* It is an instance object.

```
def Student(self):
```

In [65]:
# init Method
class Student:
  def __init__(self,roll,name,age):
        self.roll = roll
        self.name = name
        self.age = age

s = Student(69,"Solomon",18)
print(s.roll,s.name,s.age)

69 Solomon 18

In [81]:
# Object Method
class Student:
    def __init__(self,roll,name,age):
        self.roll = roll
        self.name = name
        self.age = age
 
    def details(self):
        print("Student Roll:",  self.roll)
        print("Student Name:",  self.name)
        print("Student Age:", self.age)
 
 
stu = Student(69,"Solomon", 18)
stu.details()

Student Roll: 69
Student Name: Solomon
Student Age: 18

##*Private Attributes/Variables :*

* The attributes/variables which starts with two underscores are called private attributes.
* Such variables cannot be called directly from outside their class 

They can be accessed using, 

```
instance_name._
classname_Private Attributes
```

In [77]:
# Program to use Private Variables
class abc:
    y = 69
    __var = "Solomon"  # Private variable
    def show(self):
        print("AIML")
        

s = abc()
print(s.y)
s.show()
print(s.__v) # Since this variable cannot be accessed, it gives an error

69
AIML

## *Destroying Objects (Garbage Collection) :*

* It is used when you want to destroy an instance of the class which is no longer referenced.

In [80]:
# Program to delete object of a class.
class abc:
    def __init__(self,n): #Parameterized constructor
        print("Hello ",n)
    def __del__(self):
        print("Object deleted")

s1=abc("Solomon")
s2=abc("Python")

Hello  Solomon
Hello  Python

## *Instances as Arguments and Return Values :*

* The class instance variables are always prefixed with reserved word 'self' and typically initialized in a constructor method named init

* In Python, methods and functions can return class instances.

In [72]:
# As an Argument
class xyz:
    def __init__(self):
        print("Stop")
        print("Ready")
        print("GO")
    def show(self):
        print("This is a course for :")
        print("AI & ML")

s = xyz()
s.show()

Stop
Ready
GO
This is a course for :
AI & ML

In [73]:
# As a Return Value
class st:
    def add(self,a,b):
        self.a=a
        self.b=b
        return self.a+self.b

s=st()
s.add(4,3)

7

In [76]:
# Return Values using __init__
class st:
    def __init__(self,a,b):
        self.a=a
        self.b=b

s=st(4,3)
print(s.a)
print(s.b)
print(s.a*s.b)

4
3
12

## *Polymorphism :*

* Polymorphism is the ablity of an object or reference to take many different forms at different instances.
* It is the ability to use an operator or a function in various forms 
* For Example, operator overloading, function overloading, etc.

In [79]:
# Program to use Polymorphism
def show(s):
    print("s= ",s)

show(6902)
show("Solomon")
show(3.14)
show(complex(2,4))

s=  6902
s=  Solomon
s=  3.14
s=  (2+4j)